


<body>
   
    <div class="Iam">
      

    <p>From This Interface </p>
    <b>
      <div class="innerIam">
        Manager Your Tag For Product<br /> 
        Import the Products and Category <br />
        Add Slider <br />
        Automatisez la Gestion des products<br />
     
        </div>
    </b>
    
    </div>
    
    </body><br><br>
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 ml-auto pl-lg-5 text-center"><br><br><br><br>
              
              <h5  class="innerIam" style="font-size:40px;color: rgb(18, 113, 168);margin-right: 80px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Personnalisez l’apparence de votre magasin pour s’adapter à vos besoins. Donnez à votre magasin l’apparence exacte qui reflète votre marque.!</h5>
              <button type="button" class="btn btn-outline-success">Visiter la boutique‍<i class="fa fa-external-link"></i></button>
        
            </div>
          <div class="col-lg-6 mb-6 mb-lg-0">
            <div class="img-years">
              <img src="/assets/boutiqi.jpg" width="800px" height="800px "alt="Image" class="img-fluid">
              
            </div>
    
          </div>
          
        </div>
      </div>
    </div>
         

