.wordCarousel {
    font-style: italic;
    font-size: 30px;
    font-weight: 100;
    color: rgb(15, 15, 15);
    font-family: Serif;
    color: rgb(7, 7, 7);
text-align: center;  
}
.dang{
    color: red;
}