#cercl {
    width: 36px;
    height: 45px;
  
    flex-direction: column-reverse;
  }
  #cercle {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    flex-direction: row;
    flex-direction: column-reverse;

}
