<div style=" padding: 0px; border-radius: 5px;">
  

  <!-- <div class="card text-white bg-danger mb-3" style="max-width: 19rem;">
    <div class="card-header text-center">Delivry</div>
    <div class="card-body" style="padding: 0px !important; margin-top: -30px;">
      <div class="text-center mt-5" style="text-align: left !important; padding: 0">
        <div>
          <ul class="list-group" style="color: rgb(37, 37, 37)">
            <li class="list-group-item" *ngFor="let item of itemsList" style="background: #b90583 !important;">
              <input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{item.value}}"
                (change)="onItemChange(item)" />
              {{item.name}}{{item.price}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
</div>

