


<body>
<div class="Iam">

<p>From This Interface </p>
<b>
  <div class="innerIam">
    Manager Your Category And SubCategory<br /> 
    Import the Products and Category <br />
    Delete Products and Category<br />
    Automatisez la Gestion des Catalogues<br />
 
    </div>
</b>

</div>

</body><br><br>
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto pl-lg-5 text-center"><br><br><br><br>
          
          <h5>Personnalisez l’apparence de votre magasin pour s’adapter à vos besoins. Donnez à votre magasin l’apparence exacte qui reflète votre marque.!</h5>
          <button type="button" class="btn btn-outline-success">Visiter la boutique‍<i class="fa fa-external-link"></i></button>
    
        </div>
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="img-years">
          <img src="assets/images/Taille-carre.PNG" width="800px" height="800px "alt="Image" class="img-fluid">
          
        </div>

      </div>
      
    </div>
  </div>
</div>